---
import H2 from '../components/H2.astro'

const { post, large } = Astro.props;
---

<article class={`post-preview ${large && 'large'}`}>
	<a href={post.url}>
		<!-- <img src="/assets/blog/317575099_149334201183788_2298528759472121366_n.jpeg" /> -->
		<div class="image-wrapper">
			<img src={post.frontmatter.previewImage} />
		</div>
		<div class="text">
			<header class="preview-header">
				<H2 large={large}>{post.frontmatter.title}</H2>
				<p class="publish-date">{post.frontmatter.publishDate}, {post.frontmatter.author}</p>
			</header>
			<p>{post.frontmatter.description}</p>
			<p class="link">Läs hela inlägget</p>
		</div>
	</a>
</article>

<style lang="scss">
	.post-preview {
		background: white;
		margin-bottom: 3rem;

		@media (min-width: 800px) {
			margin-bottom: 2rem;
			border: 1px solid var(--theme-divider);
		}

		&.large {

			// @media (min-width: 500px) {
			// 	display: grid;
			// 	grid-template-columns: 1fr 1fr;
			// 	width: 100%;
			// }

			@media (min-width: 800px) {
				grid-column: 1 / -1;
				display: flex;
			}

			a {
				@media (min-width: 800px) {
					display: flex;
					align-items: flex-start;
					gap: 20px;
				}
			}

			.image-wrapper {
				height: 100%;

				@media (min-width: 800px) {
					aspect-ratio: 0.8;
					width: calc(50% - 10px - 1rem);
				}

				@media (min-width: 900px) {
					aspect-ratio: 1.4;
				}
			}

			.preview-header {
				@media (min-width: 800px) {
					padding: 1rem 0;
				}
			}
		}

		a {
			@media (min-width: 800px) {
				display: block;
				padding: 1rem;

			}
		}

		.image-wrapper {
			display: flex;
			flex-shrink: 0;
			width: 100%;
			overflow: hidden;
			aspect-ratio: 1.9;
			background: rgb(240, 240, 240);

			img {
				object-fit: cover;
				transition: transform 0.4s ease;
				min-width: 100%;
				min-height: 100%;
			}
		}
	}

	.post-preview a {
		opacity: 0.8;
		transition: all 0.3s ease;

		@media (hover: hover) {
			&:hover {
				text-decoration: none;
				opacity: 1;
				box-shadow: 0 0 12px 6px rgba(229, 231, 235, 0.5);

				img {
					transform: scale(1.025);
				}
			}

			&:focus {
				text-decoration: none;
				outline: none;
				box-shadow: 0
			}
		}
	}

	p {
		color: var(--theme-text);
	}

	.post-preview .link {
		margin-top: 20px;
		font-family: var(--font-title);
		color: var(--color-orange);

		&:hover {
			text-decoration: underline;
		}
	}

	.preview-header {
		padding: 1rem 0;
	}

	.title,
	.author,
	.publish-date {
		font-family: var(--font-title);
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 0.9rem;
		color: var(--theme-text-light);
		text-transform: uppercase;
    color: #888;
    font-size: 12px;
    letter-spacing: 0.15px;
    font-weight: bold;
    margin-top: 10px;
	}
</style>
