---
export interface Props {
	post: any;
}

const { post } = Astro.props;
---
<article class="post-preview">
	<a href={post.url}>
		<img src="/assets/blog/317575099_149334201183788_2298528759472121366_n.jpeg" />
		<div class="text">
			<header>
				<p class="publish-date">{post.frontmatter.publishDate}</p>
				<h1 class="title">{post.frontmatter.title}</h1>
			</header>
			<p>{post.frontmatter.description}</p>
			<!-- <a href={post.url}>Läs hela inlägget</a> -->
		</div>
	</a>
</article>

<style>
	.content :global(main > * + *) {
		margin-top: 1rem;
	}

	.post-preview {
		background: white;
		padding: 1rem;
		margin-bottom: 2rem;
	}

	.post-preview:first-child {
		width: 100%;
		gap: 20px;
		grid-column: 1 / -1;
	}

	.post-preview:first-child a {
		display: flex;
		align-items: flex-start;
	}

	.post-preview:first-child img {
		aspect-ratio: 1.4;
	}

	.post-preview:first-child .title {
		font-size: 2rem;
	}

	.post-preview img {
		aspect-ratio: 1.9;
    width: 100%;
    object-fit: cover;
	}

	.post-preview:first-child img {
		width: calc(50% - 10px);
	}

	.text {

	}

	header {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 2rem;
		text-align: left;
	}

	.title,
	.author,
	.publish-date {
		margin: 0;
	}

	.publish-date,
	.author {
		font-size: 0.9rem;
		color: var(--theme-text-lighter);
	}

	.title {
		font-size: 1.5rem;
		font-weight: 700;
		color: var(--theme-text);
	}
</style>
