---
import BaseHead from '../components/BaseHead.astro';
import BlogHeader from '../components/BlogHeader.astro';
import BlogPost from '../components/BlogPost.astro';
import Footer from '../components/Footer.astro';

const { content } = Astro.props;
const { title, description, publishDate, author, authorURL, previewImage, permalink, alt } = content;
---

<style>
	.meta {
		text-align: center;
		padding-bottom: 40px;
	}
</style>

<html lang={content.lang || 'en'}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body>
		<BlogHeader backgroundImage={previewImage} />
		<div class="wrapper">
			<BlogPost {title} {author} {authorURL} {previewImage} {publishDate} {alt}>
				<slot />
			</BlogPost>
		</div>
		<div class="meta">
			<a href="/posts">Alla inlägg</a>
		</div>
		<Footer />
	</body>
</html>
